<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<table>
    <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text = "${event.key}">Event Name</td>
            <td th:text = "${event.value}">Event Description</td>
            <td th:replace="fragments :: address">fake address</td>
        </tr>
    </th:block>
</table>

</body>
</html>